/* About section */

.skills {
  margin-top: 32px;
}

.skills article {
  margin-top: 8px;

  h5 {
    margin-bottom: 4px;
  }
}

.skills-list {
  padding-left: 16px;
}

.skills-list li {
  display: inline-block;
}

section.about .links-container {
  margin-top: 64px;
}