/* Contact section */

.contact-grid {
  display: grid;
  grid-template-columns: 12vw 1fr;
  margin-left: -12vw;
}

.contact {
  h4 {
    grid-column: 1;
    color: $darkblue;
    text-align: center;
  }
}

@media screen and (max-width: 1210px) {
  .contact h4 {
    display: none;
  }
}

.contact-form {
  position: relative;
  grid-column: 2;

  > div {
    margin-top: 16px;
  }

  > div:first-of-type {
    margin-top: 0;
  }
}

label,
input,
textarea,
.submit-button {
  display: block;
  font-size: 18px;
}

label {
  // margin-top: 16px;
  margin-bottom: 8px;
}

input:not(.submit-button), textarea {
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0);
  border-top: none;
  border-right: none;
  border-color: $darkblue;
  border-width: 3px;
  padding-left: 6px;
}

textarea {
  height: 120px;
}

.submit-wrapper {
  position: relative;
  // background-color: white;
  width: min-content;
  margin: 24px auto 64px !important; // to override .contact-form > div margin
}

.submit-button {
  position: relative;
  margin: 0 auto;
  padding: 12px;
  border: none;
  color: #ae7f5b;
  background-color: white;
  font-size: 26px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 400ms;
  top: 0;

  &:hover {
    background-position: left;
  }
}

.submit-success,
.submit-failure {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: max-content;
  bottom: -36px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 500ms;
  font-weight: 500;
}

.submit-shown {
  opacity: 1;
  visibility: visible;
}

@media all and (-ms-high-contrast: none) {

  textarea.form-message {
    -ms-overflow-style: none;
    overflow: auto;
  }
}