@import 'reset.css';
// @import 'normalize.css';

/* Font import */
@font-face {
  font-family: 'Berthold Akzidenz Grotesk';
  src: url(../fonts/Berthold_Akzidenz_Grotesk_Regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: 'Berthold Akzidenz Grotesk';
  src: url(../fonts/Berthold_Akzidenz_Grotesk_Medium.otf);
  font-weight: 500;
}

@font-face {
  font-family: 'Berthold Akzidenz Grotesk';
  src: url(../fonts/Berthold_Akzidenz_Grotesk_Bold.otf);
  font-weight: 700;
}

/* Variables */
$darkblue: #1A2B3E;

// $gradient-one: linear-gradient(353.24deg, rgba(37, 114, 205, 0) 19%, #4b76b75c 47.66%, #1dd3a8cf 96.56%);
// $gradient-one: linear-gradient(324.1deg, rgba(37, 114, 205, 0.76) -1.13%, rgba(36, 206, 135, 0.76) 110.7%);
$gradient_one: linear-gradient(349.24deg, rgba(37, 114, 205, 0) 22%, #4b76b75c 31.66%, #1dd3a8cf 81.56%);
$gradient-two: linear-gradient(250.26deg, #8C50EE -1.02%, #D15A61 104.87%);
$gradient-three: linear-gradient(145.19deg, #9DAC3E 6.47%, #4893B4 111.46%);
$gradient-four: linear-gradient(138.93deg, #AF6565 19.66%, #ABB448 125.72%);

$original-logo-fill: #2093c9;

/* Styling */
@import 'universal.scss';
@import 'hero.scss';
@import 'projects.scss';
@import 'about.scss';
@import 'contact.scss';
