@import url(reset.css);
/* Font import */
@font-face {
  font-family: 'Berthold Akzidenz Grotesk';
  src: url(../fonts/Berthold_Akzidenz_Grotesk_Regular.otf);
  font-weight: 400; }

@font-face {
  font-family: 'Berthold Akzidenz Grotesk';
  src: url(../fonts/Berthold_Akzidenz_Grotesk_Medium.otf);
  font-weight: 500; }

@font-face {
  font-family: 'Berthold Akzidenz Grotesk';
  src: url(../fonts/Berthold_Akzidenz_Grotesk_Bold.otf);
  font-weight: 700; }

/* Variables */
/* Styling */
/* Universal */
html {
  overflow-y: scroll;
  scroll-behavior: smooth;
  font-size: 16px; }

body {
  background-color: #1A2B3E;
  color: white; }

h1, h2, h3, h4, h5,
li, a, p,
label, input, textarea,
.submit-button {
  font-family: 'Berthold Akzidenz Grotesk';
  font-weight: 700; }

h1 {
  font-size: 10vw;
  letter-spacing: 0.03rem; }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1.25rem; }

p {
  line-height: 1.6;
  font-weight: 400;
  font-size: 1.25rem; }

a {
  text-decoration: none;
  color: inherit; }

li {
  font-size: 1rem; }

header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  height: 3.5em;
  display: flex;
  justify-content: space-between;
  font-size: 20px; }

header.visible {
  background-color: #1A2B3E75; }

header .logo {
  padding: 5px 0 5px 5px;
  opacity: 0; }

header .logo a {
  display: inline-block;
  height: 100%;
  display: flex;
  align-items: center; }

header img {
  height: 3em;
  box-sizing: border-box; }

nav ul {
  display: flex;
  height: 100%;
  align-items: center; }

nav li {
  font-size: 1em;
  margin-right: 1.5em; }

nav li a {
  transition: all 500ms; }

nav li a.selected {
  -webkit-text-fill-color: transparent; }

nav li:nth-of-type(1) a.selected {
  background: linear-gradient(250.26deg, #8C50EE -1.02%, #D15A61 104.87%);
  -webkit-background-clip: text;
  background-clip: text; }

nav li:nth-of-type(2) a.selected {
  background: linear-gradient(145.19deg, #9DAC3E 6.47%, #4893B4 111.46%);
  -webkit-background-clip: text;
  background-clip: text; }

nav li:nth-of-type(3) a.selected {
  background: linear-gradient(138.93deg, #AF6565 19.66%, #ABB448 125.72%);
  -webkit-background-clip: text;
  background-clip: text; }

/* Responsive header */
@media screen and (max-width: 450px) {
  header {
    font-size: 17px; } }

@media screen and (max-width: 355px) {
  header {
    font-size: 16px; } }

@media screen and (max-width: 330px) {
  header {
    font-size: 15px; } }

/* end of responsive header */
section {
  position: relative;
  margin-bottom: 15.5rem; }

section:nth-of-type(2) > .content {
  background: linear-gradient(250.26deg, #8C50EE -1.02%, #D15A61 104.87%); }

section:nth-of-type(3) > .content {
  background: linear-gradient(145.19deg, #9DAC3E 6.47%, #4893B4 111.46%); }

section:nth-of-type(4) > .content {
  background: linear-gradient(138.93deg, #AF6565 19.66%, #ABB448 125.72%); }

section:nth-of-type(even) > h1 {
  margin-left: 11%;
  text-align: left; }

section:nth-of-type(even) > .content {
  margin-left: 22%;
  margin-right: 11%; }

section:nth-of-type(odd) > h1 {
  margin-right: 11%;
  text-align: right; }

section:nth-of-type(odd) > h1.stroke {
  right: 0; }

section:nth-of-type(odd) > .content {
  margin-left: 11%;
  margin-right: 22%; }

section > h1 {
  position: relative;
  top: 0.35em;
  z-index: 0; }

section > h1::before {
  content: "/"; }

section > h1.stroke {
  position: absolute;
  z-index: 2;
  color: #1A2B3E;
  -webkit-text-fill-color: #fff0;
  -webkit-text-stroke: 2px #1A2B3E; }

section:not(.hero):not(.projects) > .content {
  padding-left: 12%;
  padding-right: 12%; }

.links {
  display: flex;
  justify-content: center;
  margin: 0 auto; }
  .links li {
    position: relative;
    display: inline-block;
    margin-right: 1em;
    white-space: nowrap;
    font-size: 1.25rem; }
  .links li:last-child {
    margin-right: 0; }
  .links li::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0.07em;
    background-color: white; }
  .links li:first-of-type > a::before,
  .links li:last-of-type > a::after {
    content: "";
    position: absolute;
    z-index: -1;
    height: 1em;
    width: 1em;
    background: repeating-linear-gradient(to right, #ffffff00, #ffffff00 2px, #ffffff50 2px, #ffffff50 4px); }
  .links li:first-of-type > a::before {
    left: -0.6em;
    bottom: -0.3em;
    transform: rotate(90deg); }
  .links li:last-of-type > a::after {
    right: -0.6em;
    top: -0.3em; }
  .links a {
    position: relative;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    cursor: pointer;
    z-index: 1; }

.content {
  z-index: 1;
  position: relative;
  padding: 6.8rem 0; }

.mobile {
  display: none; }

/* Responsive Universal */
@media screen and (max-width: 870px) {
  html {
    font-size: 14px; }
  section:nth-of-type(even) > .content {
    margin-left: 18%;
    margin-right: 9%; }
  section:nth-of-type(odd) > .content {
    margin-left: 9%;
    margin-right: 18%; } }

@media screen and (max-width: 710px) {
  html {
    font-size: 12px; }
  section:not(.hero):not(.projects) > .content {
    padding-left: 9%;
    padding-right: 9%; } }

@media screen and (max-width: 620px) {
  html {
    font-size: 15px; }
  h1 {
    font-size: 15vw; }
  section:nth-of-type(1n+1) > h1 {
    text-align: right;
    margin-right: 11%; }
  section:nth-of-type(1n+1) > h1.stroke {
    right: 0; }
  section:nth-of-type(1n+1) > .content {
    margin-left: 10%;
    margin-right: 10%; }
  section {
    margin-bottom: 150px; } }

@media screen and (max-width: 520px) {
  html {
    font-size: 13px; } }

@media screen and (max-width: 460px) {
  html {
    font-size: 12px; } }

@media screen and (max-width: 420px) {
  html {
    font-size: 11px; } }

/* Hero section */
.hero {
  position: relative;
  height: calc(100vh + 12.5rem);
  box-sizing: border-box;
  padding-top: 0;
  margin-bottom: 0;
  font-size: 16px; }
  .hero .big-logo {
    position: fixed;
    z-index: -1;
    height: inherit;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center; }
  .hero .big-logo img {
    position: relative;
    height: 100vh;
    width: auto;
    z-index: -1; }
  .hero .bg-gradient {
    position: absolute;
    background: linear-gradient(349.24deg, rgba(37, 114, 205, 0) 22%, #4b76b75c 31.66%, #1dd3a8cf 81.56%);
    height: 100%;
    width: 100%;
    opacity: 1; }
  .hero .hero-wrapper {
    position: relative;
    z-index: 1;
    height: 100vh;
    box-sizing: border-box;
    text-align: left;
    padding-top: 80px;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    flex-direction: column; }
  .hero .heading {
    text-transform: uppercase;
    flex-grow: 0.5;
    display: flex;
    align-items: flex-end; }
  .hero .lowercase {
    text-transform: lowercase; }
  .hero h1 {
    font-size: 15vw;
    color: white;
    -webkit-text-fill-color: #fff0;
    -webkit-text-stroke: 0.01em white;
    letter-spacing: 0.1em; }
  .hero h2 {
    font-size: 3em; }
  .hero .subheading {
    position: relative;
    width: 70%;
    line-height: 1.36;
    flex-grow: 0.75; }
  .hero .subheading .frame {
    position: relative;
    border: 0.04em solid white;
    padding: 0 0.15em;
    margin: 0 -0.15em; }
  .hero .links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1; }
  .hero .links-container::before {
    content: "";
    visibility: hidden;
    height: 45px;
    flex: 1; }
  .hero .links.links-hero li {
    font-size: 1.625rem; }
  .hero .chevron-container {
    display: flex;
    align-items: flex-end;
    flex: 1; }
  .hero a.chevron {
    margin-bottom: 16px; }

/* Responsive Hero section */
@media screen and (min-width: 2500px) {
  .hero h1 {
    font-size: 13vw; } }

@media screen and (max-width: 1100px) {
  .hero {
    font-size: 14px; } }

@media screen and (max-width: 950px) {
  .hero {
    font-size: 12px; }
    .hero h1 {
      font-size: 19vw; }
    .hero .subheading {
      width: 100%; } }

@media screen and (max-width: 700px) {
  .hero .hero-wrapper {
    padding-left: 5em;
    padding-right: 5em; } }

@media screen and (max-width: 510px) {
  .hero {
    font-size: 9px; } }

@media screen and (max-width: 380px) {
  .hero {
    font-size: 7px; } }

/* Projects */
.projects {
  overflow-x: hidden; }

.projects article {
  transition: all 750ms ease; }

article.flyRight {
  transform: translateX(-15%);
  opacity: 0; }

article.flyLeft {
  transform: translateX(15%);
  opacity: 0; }

article.flown {
  transform: translateX(0);
  opacity: 1; }

.projects article .desktop {
  position: relative;
  padding: 30px 0;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr;
  grid-column-gap: 25px; }
  .projects article .desktop .tech-list {
    display: flex;
    flex-direction: column; }

@media screen and (min-width: 621px) {
  article:hover img,
  article:focus img {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
    transform: scale(1.03); } }

article:nth-of-type(odd) .desktop aside.image {
  grid-column: 1;
  grid-row: 1; }
  article:nth-of-type(odd) .desktop aside.image img {
    right: 30%; }

article:nth-of-type(odd) .desktop .mid-container {
  grid-column: 2;
  grid-row: 1; }
  article:nth-of-type(odd) .desktop .mid-container h3, article:nth-of-type(odd) .desktop .mid-container p {
    text-align: right; }

article:nth-of-type(odd) .desktop aside.tech {
  text-align: left;
  grid-column: 3;
  grid-row: 1; }

article:nth-of-type(even) .desktop aside.image {
  grid-column: 3;
  grid-row: 1; }

article:nth-of-type(even) .desktop .mid-container {
  grid-column: 2;
  grid-row: 1; }

article:nth-of-type(even) .desktop aside.tech {
  grid-column: 1;
  grid-row: 1;
  text-align: right; }

article:nth-of-type(even) .desktop .tech-list {
  align-items: flex-end; }

.mid-container {
  display: flex;
  flex-direction: column; }
  .mid-container h3 {
    margin-bottom: 10px; }
  .mid-container .links-container {
    padding: 30px 0;
    align-items: flex-end; }

aside img {
  position: relative;
  width: 130%;
  max-width: 300px;
  height: auto;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  transition: transform 300ms, -webkit-filter 300ms;
  transition: filter 300ms, transform 300ms;
  transition: filter 300ms, transform 300ms, -webkit-filter 300ms;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25); }

.tech-type {
  margin-top: 0.33em;
  margin-bottom: 0.7em;
  color: #1A2B3E; }

.tech-list li,
.skills-list li {
  display: block;
  color: #1A2B3E;
  border: 2px solid #1A2B3E;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0.2rem 0;
  padding: 0.3em 0.3rem 0.25em; }

.projects article .mobile {
  margin-bottom: 5rem;
  padding: 0 1rem; }
  .projects article .mobile .text-image-wrapper {
    margin-bottom: 2rem;
    display: grid;
    grid-column-gap: 1rem; }
  .projects article .mobile .image-container {
    width: 100%;
    transform: scale(1.35);
    position: relative;
    top: -0.4rem; }
    .projects article .mobile .image-container img {
      width: 100%;
      height: auto; }
  .projects article .mobile .tech-list {
    display: block;
    text-align: center;
    margin-bottom: 2rem; }
    .projects article .mobile .tech-list li {
      display: inline-block;
      margin-right: 0.5rem; }

.projects article:nth-of-type(odd) .mobile h3, .projects article:nth-of-type(odd) .mobile h4, .projects article:nth-of-type(odd) .mobile p {
  text-align: right; }

.projects article:nth-of-type(odd) .mobile .text-image-wrapper {
  grid-template-columns: 0.3fr 0.7fr; }

.projects article:nth-of-type(odd) .mobile .image-container {
  grid-column: 1 / 2;
  transform-origin: right; }

.projects article:nth-of-type(odd) .mobile p {
  grid-column: 2 / 3; }

.projects article:nth-of-type(even) .mobile h3, .projects article:nth-of-type(even) .mobile h4, .projects article:nth-of-type(even) .mobile p {
  text-align: left; }

.projects article:nth-of-type(even) .mobile .text-image-wrapper {
  grid-template-columns: 0.7fr 0.3fr; }

.projects article:nth-of-type(even) .mobile .image-container {
  grid-column: 2 / 3;
  grid-row: 1;
  transform-origin: left; }

.projects article:nth-of-type(even) .mobile p {
  grid-column: 1 / 2;
  grid-row: 1; }

/* Responsive projects */
@media screen and (max-width: 870px) {
  .projects article {
    grid-template-columns: 1fr 2fr 1fr;
    grid-column-gap: 15px; } }

@media screen and (max-width: 620px) {
  .desktop {
    display: none !important; }
  .mobile {
    display: block; } }

/* About section */
.skills {
  margin-top: 32px; }

.skills article {
  margin-top: 8px; }
  .skills article h5 {
    margin-bottom: 4px; }

.skills-list {
  padding-left: 16px; }

.skills-list li {
  display: inline-block; }

section.about .links-container {
  margin-top: 64px; }

/* Contact section */
label,
input,
textarea,
.submit-button {
  display: block;
  font-size: 18px; }

label {
  margin-top: 16px;
  margin-bottom: 8px; }

input:not(.submit-button), textarea {
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0);
  border-top: none;
  border-right: none;
  border-color: #1A2B3E;
  border-width: 3px;
  padding-left: 6px; }

textarea {
  height: 120px; }

.submit-wrapper {
  position: relative;
  background-color: white;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: 24px auto 64px; }

.submit-button {
  background: linear-gradient(138.93deg, #AF6565 19.66%, #ABB448 125.72%);
  padding: 12px;
  border: none;
  color: #1A2B3E;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 26px;
  text-transform: uppercase;
  cursor: pointer; }

.submit-success,
.submit-failure {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  bottom: -36px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 500ms;
  font-weight: 500; }

.submit-shown {
  opacity: 1;
  visibility: visible; }
